**/.git
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/__pycache__
**/*.pyc
**/.pytest_cache

**/node_modules
FrontEnd/

**/*.user
**/*.suo
**/*.log

PredictionService/app/ml/trained_model.joblib

**/docker-compose*.yml
Dockerfile*
.dockerignore
*.md